{% trans_default_domain 'FOSUserBundle' %}


<link href="{{ asset('bundles/app/css/login.css') }}" type="text/css" rel="stylesheet" />
{% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="center-align">
    <a href="#" onclick="fb_login();" class="btn btn-block btn-social btn-facebook green-bck dark-blue-color"> <span class="fa fa-facebook"></span> Se
        connecter avec Facebook</a>
    <div class="mt-2 mb-2 hr section"><span>OU</span></div>
</div>
<form action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_registration_register">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="input-field">
        <i class="material-icons prefix green-color">account_circle</i>
        <input class="form-control border-bot-green-color" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <label class="control-label green-color" for="username">{{ 'security.login.username'|trans }}</label>
    </div>
    <div class="input-field">
        <i class="material-icons prefix green-color">https</i>
        <input class="form-control border-bot-green-color" type="password" id="password" name="_password" required="required" />
        <label class="control-label green-color" for="password">{{ 'security.login.password'|trans }}</label>
    </div>
    <div class="center-align section">
        <label class="control-label" for="remember_me">
            <input type="checkbox" class="checkbox-green filled-in" id="remember_me" name="_remember_me" value="on" />
            <span>{{ 'security.login.remember_me'|trans }}</span>
        </label>
    </div>
    <div class="center-align section">
        <input type="submit" id="_submit" class="btn waves-effect waves-light green-bck dark-blue-color" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
<div class="center-align">
    <p class="tw "><span>Pas encore inscrit ? </span><a href="{{ path('fos_user_registration_register') }}"><span class="green-color">S'inscrire</span></a></p>
    <p class="tw"><a href="{{ path('fos_user_resetting_request') }}"><span class="green-color">J'ai oublié mon mot de passe</span></a></p>
</div>
<hr>


