{% block navbar %}
    {% if is_granted('ROLE_USER') %}
        <!-- Dropdown Structure -->
        <ul id="user-nav-content" class="dropdown-content navbar-dropdown-container">
            <li class="navbar-login">
                <div class="btn-profil">
                    <div>
                        <a class="waves-effect waves-light btn" href="{{ path('fos_user_profile_show') }}">
                            <i class="material-icons left">settings</i>
                            Settings
                        </a>
                    </div>
                    <div class="logout-btn">
                        <a href="{{ path('fos_user_security_logout') }}" class="waves-effect waves-light btn red accent-4">
                            <i class="material-icons center">power_settings_new</i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endif %}
    <!-- Navigation -->
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="{{ path('homepage') }}" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('app_post_new') }}">Publier</a>
                        </li>
                        <!-- Dropdown Trigger -->
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="user-nav-content">
                                <img class="circle responsive-img navatar" src="{{ asset(get_avatar(app.user)) }}">
                                {{ app.user.username }}
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}